.static_pages
  .row
    .col-md-4
      %h1 Dr Noor Al Kuraishi ND
    .col-md-4.col-md-offset-4
      = image_tag "t_up_small.png"
  .container.second
    .second_text
      %h4 About me:<br/>My story is similar to most patients with chronic illness I know- trying to seek answers and relief from their symptoms. As a teenager having recently immigrated to Canada, I started having severe and debilitating gastrointestinal symptoms and for the next 15 years, my life was spent wilting away from Crohn’s disease.  Surgeries and prescription medications left me suffering from depression and severe pain - ultimately hindering my dream of going to law school. Naturopathic medicine allowed me to regain my strength and gave me a new founded purpose of helping others like me.As a patient with Crohn’s disease, I know first-hand what it's like to fight an uphill battle. As a naturopathic doctor, I believe that I can help guide you up this hill.
    .photo
